.wrapper{
    margin-top: 150px;
    
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    border-radius: 30px;
    
   
}
.wrapper .form-box{
width: 100%;
padding: 40px;
}
form h1{
    font-size: 36px;
    text-align: center;
    color: antiquewhite;
}
form .input-box{
    position: relative;
    width: 100%;
    height: 45px;
    margin: 30px 0;
 
}
.input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border: 2px solid(255,255,255,.1);
    border-radius: 40px;
    font-size: 18px;
    color: black;
    padding: 20px 45px 20px 20px;
    
}

.input-box .icon{
    position: absolute;
    right: 20px;
    margin-top: 15px;
}
.remember a{
    display: block; text-align: center;
    text-decoration: none;
    color:antiquewhite;
    margin-bottom: 10px;
     
}
.remember a:hover{
    text-decoration:underline;
}
form button{
    width: 100%;
    height: 45px;
    cursor: pointer;
    border-radius: 45px;
    border: none;
    outline: none;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    color: gray;
    font-size: 20px;
    transition: transform 0.5s;
}
.register{
    text-align: center;
    margin-top: 20px;

}
.register p a{
    text-decoration: none;
    color: antiquewhite;
}
form button:hover{
    transform: scale(1.1);
}