.search-bar-wrapper {
  width: 600px; 
  display: flex;/* Adjusted width for the wrapper */
}
.search-bar-wrapper input {
  padding: 15px; /* Increased padding for height */
  outline: none;
  border-radius: 5px;
  width: 350px; /* Increased width */
  border: none;
  background: #f6f7f8;
  font-size: 16px; /* Adjusted font size for better scaling */
}

.search-bar-wrapper .search-button {
  padding: 12px; /* Adjusted padding for height */
  border-top-right-radius: 5px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #014D4E;
  width: 60px; /* Increased width */
  color: #fff;
  cursor: pointer;
  background: #014D4E;
  font-size: 16px; /* Adjusted font size */
  margin-top: 0; /* Removed extra margin for better alignment */
  transition: 0.5s;
}

.search-bar-wrapper .search-button:hover {
  background: #fed700;
  border: 1px solid #fed700;
  color: #cd1e76;
}
